<!-- {% if site.data.settings.thanks.enable == true %} -->
<!-- begin testimonials -->
<div class="container">
    <section class="section testimonials animate">
      <div class="row">
        <div class="col col-12">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ site.data.settings.thanks__title }}</h2>
            </div>
            <!-- {% if site.data.settings.organizers__description %}
             <p class="section__description">{{ site.data.settings.thanks__description }}</p>
            {% endif %} -->
          </div>
  
          <div class="table-container">
            <table>
              <tr><th>Name</th><th>Affiliation</th></tr>
              <tr><td>Alvin Chan</td><td>Nanyang Technological University</td></tr>
              <tr><td>Hui Ting Grace Yeo</td><td>Genome Institute of Singapore, A*STAR</td></tr>
              <tr><td>Jonathan Goeke</td><td>Genome Institute of Singapore, A*STAR</td></tr>
              <tr><td>Maciej Antczak</td><td>University of Michigan - Ann Arbor</td></tr>
              <tr><td>Marcin Magnus</td><td>Harvard University</td></tr>
              <tr><td>Tim Stuart</td><td>Genome Institute of Singapore, A*STAR</td></tr>
              <tr><td>Yang Li</td><td>Yale University</td></tr>
              
              <tr><td>Dominik Stanojević</td><td>Genome Institute of Singapore, A*STAR</td></tr>
              <tr><td>Eugene F. Baulin</td><td>IMol Polish Academy of Sciences</td></tr>
              <tr><td>Leon Rauschning</td><td>Technische Universität München</td></tr>
              <tr><td>Marcell Veiner</td><td>Universitat de Barcelona</td></tr>
              <tr><td>Martin Schmitz</td><td>National University of Singapore</td></tr>
              <tr><td>Nigel Chou</td><td>Genome Institute of Singapore, A*STAR</td></tr>
              <tr><td>Rafael Josip Penić</td><td>UniZg-FER, University of Zagreb</td></tr>
              <tr><td>Sara Bakić</td><td>National University of Singapore</td></tr>
              <tr><td>Yuk Kei Wan</td><td>Genome Institute of Singapore, A*STAR</td></tr>
              </table>            
          </div>
  
        </div>
      </div>
    </section>
  </div>
  <!-- end testimonials -->
  <!-- {% endif %} -->
  
  
  
  
  