<!-- {% if site.data.settings.programs.enable == true %} -->
<!-- begin testimonials -->
<div class="container">
  <section class="section testimonials animate">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.programs__title }}</h2>
          </div>
          {% if site.data.settings.organizers__description %}
           <p class="section__description">{{ site.data.settings.programs__description }}</p>
          {% endif %}
        </div>

        <div class="table-container">
          <table>
            <tr><th>Name</th><th>Affiliation</th></tr>
            <tr><td>Krisztina Sinkovics</td><td>U. Cambridge</td></tr>
            <tr><td>Chenyu Wang</td><td>MIT</td></tr>
            <tr><td>Andre B. Wyzykowski</td><td>SENAI CIMATEC</td></tr>
            <tr><td>Ken Chiu</td><td>U. Binghamton</td></tr>
            <tr><td>Yanan Long</td><td>U. Chicago</td></tr>
            <tr><td>Jenea Adams</td><td>U. Pennsylvania</td></tr>
            <tr><td>Alexander Rubinsteyn</td><td>UNC at Chapel Hill</td></tr>
            <tr><td>Daniel Schrider</td><td>UNC at Chapel Hill</td></tr>
            <tr><td>Eric Nguyen</td><td>Stanford University</td></tr>
            <tr><td>Jenna Ballard</td><td>U. Pennsylvania</td></tr>
            <tr><td>Arjun Athreya</td><td>UI Urbana-Champaign</td></tr>
            <tr><td>Giorgio Bini</td><td>U. Genova</td></tr>
            <tr><td>Ryuji Hamamoto</td><td>RIKEN</td></tr>
            <tr><td>Komatsu Masaaki</td><td>Jutendo University</td></tr>
            <tr><td>Laurie A. Boyer</td><td>MIT</td></tr>
            <tr><td>Johannes Birgmeier</td><td>Stanford University</td></tr>
            <tr><td>Geraldene Munsamy</td><td>Basecamp Research</td></tr>
            <tr><td>Emmanuel Noutahi</td><td>Valence Labs</td></tr>
            <tr><td>Cristian Regep</td><td>Relation Tx</td></tr>
            <tr><td>Nicolas Carranza</td><td>Instadeep</td></tr>
            <tr><td>Thomas Gaudelet</td><td>Relation Tx</td></tr>
            <tr><td>Agnieszka Dobrowolska</td><td>Relation Tx</td></tr>
            <tr><td>Justin Barton</td><td>Alchemab</td></tr>
            <tr><td>Michelle Gill</td><td>NVIDIA</td></tr>
            <tr><td>George Vacek</td><td>NVIDIA</td></tr>
            <tr><td>Jasleen Grewal</td><td>NVIDIA</td></tr>
            <tr><td>Sajad Darabi</td><td>NVIDIA</td></tr>
            <tr><td>Laksshman Sundaram</td><td>NVIDIA</td></tr>
            <tr><td>Kieran Didi</td><td>NVIDIA</td></tr>
            <tr><td>Harry Clifford</td><td>NVIDIA</td></tr>
            <tr><td>John St John</td><td>NVIDIA</td></tr>
            </table>            
        </div>

      </div>
    </div>
  </section>
</div>
<!-- end testimonials -->
<!-- {% endif %} -->




