<!-- {% if site.data.settings.programs.enable == true %} -->
<!-- begin testimonials -->
<div class="container">
  <section class="section testimonials animate">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.programs__title }}</h2>
          </div>
          {% if site.data.settings.organizers__description %}
           <p class="section__description">{{ site.data.settings.programs__description }}</p>
          {% endif %}
        </div>

        <div class="table-container">
          <table>
            <tr><th>Name</th><th>Affiliation</th></tr>
            <tr><td>Akash Bahai</td><td>Nanyang Technological University</td></tr>
            <tr><td>Alex Morehead</td><td>University of Missouri, Columbia</td></tr>
            <tr><td>Alexis Molina</td><td>Nostrum Biodiscovery</td></tr>
            <tr><td>Alvin Chan</td><td>Nanyang Technological University</td></tr>
            <tr><td>Andrew J Jung</td><td>Deep Genomics</td></tr>
            <tr><td>Anmol Seth</td><td>Yale University</td></tr>
            <tr><td>Anton Petrov</td><td>Riboscope Ltd</td></tr>
            <tr><td>Arian Rokkum Jamasb</td><td>Prescient Design / Roche / Genentech</td></tr>
            <tr><td>Artem Gazizov</td><td>Harvard University</td></tr>
            <tr><td>Aryan Jadon</td><td>Juniper Networks</td></tr>
            <tr><td>Blessy Antony</td><td>Virginia Polytechnic Institute and State University</td></tr>
            <tr><td>Chengzhong Ye</td><td>University of California, Berkeley</td></tr>
            <tr><td>Dianzhuo Wang</td><td>Harvard University, Harvard University</td></tr>
            <tr><td>Dominik Stanojević</td><td>Genome Institute of Singapore, A*STAR</td></tr>
            <tr><td>Eugene F. Baulin</td><td>IMol Polish Academy of Sciences</td></tr>
            <tr><td>Frederic Runge</td><td>Universität Freiburg</td></tr>
            <tr><td>Gene-Ping Yang</td><td>University of Edinburgh</td></tr>
            <tr><td>Hui Ting Grace Yeo</td><td>Genome Institute of Singapore, A*STAR</td></tr>
            <tr><td>Jakub Lála</td><td>Imperial College London</td></tr>
            <tr><td>Jiajing Chen</td><td>New York University</td></tr>
            <tr><td>Jiyue Jiang</td><td>Guangzhou National Laboratory</td></tr>
            <tr><td>Jonathan Goeke</td><td>Genome Institute of Singapore, A*STAR</td></tr>
            <tr><td>Josipa Lipovac</td><td>University of Zagreb</td></tr>
            <tr><td>Ke Wangz</td><td>University of Edinburgh</td></tr>
            <tr><td>Kelly Lindsay</td><td>University of Minnesota - Twin Cities</td></tr>
            <tr><td>Kerr Ding</td><td>Georgia Institute of Technology</td></tr>
            <tr><td>Kiran Babu Macha</td><td>University of The Cumberlands</td></tr>
            <tr><td>Kiran Krishnamachari</td><td>A*STAR</td></tr>
            <tr><td>Koushik Roy</td><td>EXL Service Holdings Inc.</td></tr>
            <tr><td>Kresimir Friganovic</td><td>Singapore ETH Center</td></tr>
            <tr><td>Leon Rauschning</td><td>Technische Universität München</td></tr>
            <tr><td>Liu Cao</td><td>Pfizer</td></tr>
            <tr><td>Maciej Antczak</td><td>University of Michigan - Ann Arbor</td></tr>
            <tr><td>Marcell Veiner</td><td>Universitat de Barcelona</td></tr>
            <tr><td>Marcin Magnus</td><td>Harvard University</td></tr>
            <tr><td>Martin Schmitz</td><td>National University of Singapore</td></tr>
            <tr><td>Min Hao Ling</td><td>National University of Singapore</td></tr>
            <tr><td>Mingyang Wan</td><td>Texas A&M University - College Station</td></tr>
            <tr><td>Miquel Anglada-Girotto</td><td>Centre for Genomic Regulation</td></tr>
            <tr><td>Naman Goyal</td><td>Google</td></tr>
            <tr><td>Nigel Chou</td><td>Genome Institute of Singapore, A*STAR</td></tr>
            <tr><td>Oleksandra Fanari</td><td>Northeastern University</td></tr>
            <tr><td>Philip Fradkin</td><td>University of Toronto</td></tr>
            <tr><td>Qiyuan Tian</td><td>George Washington University</td></tr>
            <tr><td>Rafael Josip Penić</td><td>UniZg-FER, University of Zagreb</td></tr>
            <tr><td>Raktim Mitra</td><td>University of Washington</td></tr>
            <tr><td>Rishabh Anand</td><td>Yale University</td></tr>
            <tr><td>Romain Lacombe</td><td>Massachusetts Institute of Technology</td></tr>
            <tr><td>Rongqi Fan</td><td>University of Waterloo</td></tr>
            <tr><td>Sai Tarun Kaniganti</td><td>University of Dayton</td></tr>
            <tr><td>Sajib Acharjee Dip</td><td>Virginia Polytechnic Institute and State University</td></tr>
            <tr><td>Sara Bakić</td><td>National University of Singapore</td></tr>
            <tr><td>Shenyang Liu</td><td>University of Central Florida</td></tr>
            <tr><td>Shreya Gupta</td><td>Google</td></tr>
            <tr><td>Tianle Zhang</td><td>Nanyang Technological University</td></tr>
            <tr><td>Tim Stuart</td><td>Genome Institute of Singapore, A*STAR</td></tr>
            <tr><td>Vasanth Rajendran</td><td>Amazon</td></tr>
            <tr><td>Wanlong Fang</td><td>Nanyang Technological University</td></tr>
            <tr><td>Xi Zhang</td><td>McGill University</td></tr>
            <tr><td>Xiaopo Cheng</td><td>NVIDIA</td></tr>
            <tr><td>Yaiza Serrano</td><td>Bioinformatics Institut (BII-A*STAR)</td></tr>
            <tr><td>Yang Li</td><td>Yale University</td></tr>
            <tr><td>YiquanWang</td><td>Chinese Academy of Sciences</td></tr>
            <tr><td>Yuchen Zhu</td><td>Georgia Institute of Technology</td></tr>
            <tr><td>Yuk Kei Wan</td><td>Genome Institute of Singapore, A*STAR</td></tr>
            <tr><td>Yushi Tang</td><td>Princeton University</td></tr>
            <tr><td>Zhuolin Hao</td><td>ByteDance Inc.</td></tr>
            <tr><td>Ziang Li</td><td>Georgia Institute of Technology</td></tr>
            <tr><td>Zijian Zhang</td><td>University of Pennsylvania</td></tr>
            </table>            
        </div>

      </div>
    </div>
  </section>
</div>
<!-- end testimonials -->
<!-- {% endif %} -->




